.tab-item {
  list-style-type: none;
}

.tab-button,
.tab-button-active {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.12em;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: transparent;
}
.tab-button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: tomato;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.tab-button:hover:after {
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .tab-button,
  .tab-button-active {
    border: 1px solid;
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
  }
  
}
